---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import MyComponent from "../components/SolidComponent";
// function MyComponent(props: any) {
// 	return <div>Hello {props.name}</div>;
// }
---

<Layout title="My Astro.">
	<main>
		<MyComponent name="Solid" />
	</main>
</Layout>

<style></style>
